name: Build neurodesktop-test

# Scheduled production builds at 17:00 UTC every day.
# Build manually from here: https://github.com/NeuroDesk/neurodesktop/actions/workflows/build-neurodesktop.yml

# DockerHub: https://hub.docker.com/r/vnmd/neurodesktop
# Github Packages: https://github.com/NeuroDesk/neurodesktop/pkgs/container/neurodesktop%2Fneurodesktop

permissions:
  contents: write
  issues: write
  pull-requests: write
  packages: write

on:
  workflow_dispatch:
    inputs:
      force_push:
        description: "Force push?"
        type: boolean
        required: true
        default: false
  schedule:
    - cron: "0 17 * * *"

env:
  DOCKERHUB_ORG: ${{ vars.DOCKERHUB_ORG }}
  # Set only for self-hosted runners to optimize build performance
  # MAKEFLAGS: "-j4"
  # NINJA_STATUS: "[%f/%t] "
jobs:
  build-image:
    # runs-on: [self-hosted, linux, arc-base]
    # runs-on: ubuntu-24.04
    runs-on:
      group: arc-base
    steps:
      - name: Fetch github api rate limit
        run: |
          GITHUB_RATE_REMAINING=$(curl -H "Accept: application/vnd.github.v3+json" https://api.github.com/rate_limit | jq '.rate.remaining')
          echo "GITHUB_RATE_REMAINING=${GITHUB_RATE_REMAINING}"
          echo "GITHUB_RATE_REMAINING=$GITHUB_RATE_REMAINING" >> $GITHUB_ENV
      - name: Checkout repository
        if: ${{ env.GITHUB_RATE_REMAINING > 0 }}
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          ref: ${{ github.ref }}
      - name: Set environment variables
        if: ${{ env.GITHUB_RATE_REMAINING > 0 }}
        run: |
          IMAGENAME="neurodesktop-test"
          BUILDDATE=`date +%Y-%m-%d`
          IMAGEID=ghcr.io/$GITHUB_REPOSITORY/$IMAGENAME
          IMAGEID=$(echo $IMAGEID | tr '[A-Z]' '[a-z]')

          echo "BUILDDATE=$BUILDDATE"
          echo "IMAGEID=$IMAGEID"
          echo "IMAGENAME=$IMAGENAME"

          echo "BUILDDATE=$BUILDDATE" >> $GITHUB_ENV
          echo "IMAGEID=$IMAGEID" >> $GITHUB_ENV
          echo "IMAGENAME=$IMAGENAME" >> $GITHUB_ENV
      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2
        # this is for testing the arc runners.
        with:
          driver-opts: |
            network=host
        # commenting out for now to test arc runners vs github runners
      - name: Login to GHCR
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set PUSH_IMAGES
        run: |
          PUSH_IMAGES="${IMAGEID}"
          if [ ! -z "${DOCKERHUB_ORG}" ]; then
            PUSH_IMAGES="${PUSH_IMAGES}, ${DOCKERHUB_ORG}/${IMAGENAME}"
          fi
          echo "PUSH_IMAGES=$PUSH_IMAGES"
          echo "PUSH_IMAGES=$PUSH_IMAGES" >> $GITHUB_ENV
      - name: Login to DockerHub
        if: ${{ env.DOCKERHUB_ORG != '' }}
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Get new image metadata
        id: meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804
        with:
          images: ${{ env.PUSH_IMAGES }}
          tags: |
            ${{ env.BUILDDATE }}
            latest
          labels: |
            org.opencontainers.image.description=Neurodesktop
      - name: Build and push new image
        uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          provenance: false # fixes unknown/unknown arch builds
          no-cache: true
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      # - name: Create github tag (if changes found)
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   run: |
      #     git tag ${BUILDDATE}
      #     if gh api /repos/${GITHUB_REPOSITORY}/git/refs/tags/${BUILDDATE} >/dev/null 2>&1; then
      #       echo "Updating existing tag ${BUILDDATE}"
      #       gh api --method PATCH -H "Accept: application/vnd.github+json" /repos/${GITHUB_REPOSITORY}/git/refs/tags/${BUILDDATE} -f sha="${GITHUB_SHA}" -F force=true
      #     else
      #       echo "Creating new tag ${BUILDDATE}"
      #       gh api --method POST -H "Accept: application/vnd.github+json" /repos/${GITHUB_REPOSITORY}/git/refs -f ref="refs/tags/${BUILDDATE}" -f sha="${GITHUB_SHA}"
      #     fi
      - name: Generate issue on job failure
        if: always() && failure()
        uses: JasonEtco/create-an-issue@1b14a70e4d8dc185e5cc76d3bec9eab20257b2c5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_WORKFLOW: ${{ env.GITHUB_WORKFLOW }}
          GITHUB_SERVER_URL: ${{ env.GITHUB_SERVER_URL }}
          GITHUB_REPOSITORY: ${{ env.GITHUB_REPOSITORY }}
          GITHUB_RUN_ID: ${{ env.GITHUB_RUN_ID }}
        with:
          filename: .github/job_failure_issue_template.md
          update_existing: true
          search_existing: open
  scan-image:
    needs: build-image
    runs-on: ubuntu-22.04
    steps:
      - name: Set environment variables
        run: |
          IMAGENAME="neurodesktop-test"
          BUILDDATE=`date +%Y-%m-%d`
          IMAGEID=ghcr.io/$GITHUB_REPOSITORY/$IMAGENAME
          IMAGEID=$(echo $IMAGEID | tr '[A-Z]' '[a-z]')

          echo "BUILDDATE=$BUILDDATE"
          echo "IMAGEID=$IMAGEID"
          echo "IMAGENAME=$IMAGENAME"

          echo "BUILDDATE=$BUILDDATE" >> $GITHUB_ENV
          echo "IMAGEID=$IMAGEID" >> $GITHUB_ENV
          echo "IMAGENAME=$IMAGENAME" >> $GITHUB_ENV
      - name: Free up build space
        run: |
          echo "Available space before cleanup:"
          df -h
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL /usr/local/share/boost /usr/share/swift /usr/lib/android-sdk
          sudo docker image prune --all --force
          sudo docker builder prune --force
          echo "Available space after cleanup:"
          df -h
      - name: Checkout repository
        if: ${{ env.GITHUB_RATE_REMAINING > 0 }}
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          ref: ${{ github.ref }}
      - name: Login to GHCR
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Pull container image
        run: docker pull $IMAGEID:latest
      - name: Initialize CVMFS
        uses: cvmfs-contrib/github-action-cvmfs@v3
      - name: Configure Neurodesk CVMFS
        run: |
          sudo mkdir -p /etc/cvmfs/keys/ardc.edu.au
          sudo cp config/cvmfs/neurodesk.ardc.edu.au.pub /etc/cvmfs/keys/ardc.edu.au/neurodesk.ardc.edu.au.pub
          sudo cp config/cvmfs/neurodesk.ardc.edu.au.conf /etc/cvmfs/config.d/
          sudo cp config/cvmfs/default.local /etc/cvmfs/default.local
          sudo cvmfs_config update
          sudo cvmfs_config setup
          sudo ls /cvmfs/neurodesk.ardc.edu.au
      - name: Test container image
        run: docker run --rm -t -v /cvmfs:/cvmfs:shared $IMAGEID:latest pytest /opt/tests/
      - name: Container image scan
        uses: aquasecurity/trivy-action@6c175e9c4083a92bbca2f9724c8a5e33bc2d97a5
        with:
          image-ref: ${{ env.IMAGEID }}:latest
          format: table
          exit-code: "1"
          severity: CRITICAL
          timeout: 25m0s
          # These are VS Code metadata package manifests inside code-server, not runtime npm libraries.
          skip-files: /opt/rclone-v1.60.1-linux-amd64/README.txt,/opt/rclone-v1.60.1-linux-amd64/README.html,/opt/rclone-v1.60.1-linux-amd64/rclone.1,/opt/code-server/lib/vscode/package.json,/opt/code-server/lib/vscode/extensions/handlebars/package.json
      - name: Generate issue on job failure
        if: always() && failure()
        uses: JasonEtco/create-an-issue@1b14a70e4d8dc185e5cc76d3bec9eab20257b2c5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_WORKFLOW: ${{ env.GITHUB_WORKFLOW }}
          GITHUB_SERVER_URL: ${{ env.GITHUB_SERVER_URL }}
          GITHUB_REPOSITORY: ${{ env.GITHUB_REPOSITORY }}
          GITHUB_RUN_ID: ${{ env.GITHUB_RUN_ID }}
        with:
          filename: .github/job_failure_issue_template.md
          update_existing: true
          search_existing: open
